<button id="pmb-button1"
    data-order-id="<%= @order.id %>"
    data-store-name="<%= @order.store.name %>"
    data-amount= "<%= @order.display_outstanding_balance.money.fractional %>"
    data-receipt= "<%= @order.number %>"
    data-order-token ="<%= @order.guest_token %>"
    data-name="<%= @order.bill_address.name %>"
    data-email="<%= @order.email %>"
    data-contact-number="<%= @order.bill_address.phone %>"
    data-currency="<%= @order.currency %>"
    data-frontend="<%= frontend %>"
    data-success-callback-path="<%= success_callback_path %>"
>

    <%= t('Pay with Paymob') %>
</button>
<script src="https://accept.paymob.com/api/acceptance/iframes/732354?payment_token="+<%= @paymob_payment_token %>>