<table>
  <tr>
    <td>
      <p>&nbsp;</p>
      <p class="lede">
        <% if @order.name %>
          Dear <%= @order.name %>,
        <% else %>
          <%= t('.dear_customer') %>
        <% end %>
      </p>
      <p>
        Thank you for your purchase from <%= @store.name %>. Please review and retain the following order information for your records.
        <%#= t('.instructions') %>
      </p>
      <p>&nbsp;</p>
      <p>Order Number: &#x23;<%= @order.number %></p>
      <p>Order Date: <%= @order.created_at.strftime("%m/%d/%Y") %></p>
      <p>&nbsp;</p>
      <p><b><%= t('.order_summary').upcase %></b></p>
      <br>
      <table>
          <thead>
            <tr>
              <th width="30%"></th>
              <th width="17%">Sku</th>
              <th width="17%">Name</th>
              <th width="8%">Qty</th>
              <th width="14%">Price</th>
              <th width="14%">Total</th>
            </tr>
            <tr>
              <th colspan="6">
                <hr>
              </th>
            </tr>
          </thead>
        <% @order.line_items.each do |item| %>
          <tr>
            <td>
              <%= render 'spree/admin/shared/image', image: item.variant.display_image, size: :mini %>
            </td> 
            <td><%= item.variant.sku %></td>
            <td>
              <%= item.variant.product.name %>
              <br>
              <%= item.variant.options_text -%>
            </td>
            <td><%=item.quantity%></td>
            <td><%= item.single_money %></td>
            <td><%= item.display_amount %></td>
          </tr>
        <% end %>
        <tr>
          <td colspan="6">
            <hr>
          </td>
        </tr>
        <tr>
          <td colspan="3"></td>
          <td colspan="2">
            <%= t('.subtotal') %>
          </td>
          <td>
            <%= @order.display_item_total %>
          </td>
        </tr>
        <% if @order.line_item_adjustments.exists? %>
          <% if @order.all_adjustments.promotion.eligible.exists? %>
            <% @order.all_adjustments.promotion.eligible.group_by(&:label).each do |label, adjustments| %>
              <tr>
                <td colspan="3"></td>
                <td colspan="2">
                  <%= t('spree.promotion') %> <%= label %>:
                </td>
                <td><%= Spree::Money.new(adjustments.sum(&:amount), currency: @order.currency) %></td>
              </tr>
            <% end %>
          <% end %>
        <% end %>
        <% @order.shipments.group_by { |s| s.selected_shipping_rate.try(:name) }.each do |name, shipments| %>
          <tr>
            <td colspan="3"></td>
            <td colspan="2">
              <%= t('spree.shipping') %> <%= name %>:
            </td>
            <td><%= Spree::Money.new(shipments.sum(&:total_before_tax), currency: @order.currency) %></td>
          </tr>
        <% end %>
        <% if @order.all_adjustments.eligible.tax.exists? %>
          <% @order.all_adjustments.eligible.tax.group_by(&:label).each do |label, adjustments| %>
            <tr>
              <td colspan="3"></td>
              <td colspan="2">
                <%#= t('spree.tax') %> <%= label %>
              </td>
              <td><%= Spree::Money.new(adjustments.sum(&:amount), currency: @order.currency) %></td>
            </tr>
          <% end %>
        <% end %>
        <% @order.adjustments.eligible.each do |adjustment| %>
          <% next if (adjustment.source_type == 'Spree::TaxRate') and (adjustment.amount == 0) %>
          <tr>
            <td colspan="3"></td>
            <td colspan="2">
              <%= adjustment.label %>
            </td>
            <td><%= adjustment.display_amount %></td>
          </tr>
        <% end %>
          <tr>
            <td colspan="3"></td>
            <td colspan="2">
              <%= t('.total') %>
            </td>
            <td>
              <%= @order.display_total %>
            </td>
          </tr>
      </table>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>We will notify you when your order ships. If you have any questions, please contact us at <u><%= @store.mail_from_address %></u>.
        <%#= t('.thanks') %>
      </p>
    </td>
    <td class="expander"></td>
  </tr>
</table>