
<div class ="document-center2">
<div class="carousel-container2">
  <div class="carousel--slides2">
  <a href="<%= products_path %>">
      <div class="carousel-screen2 bg-1">
        <%= image_tag("spree/frontend/desktop-home1.jpg", class: "img-home", style: "opacity: 0.8;") %>
        <div class="text-container2">
          <p>INTRODUCING - PERMANENCE WINTER DROP</p>
        </div>
      </div>
    </a>
    <a href="<%= home_about_path %>">
      <div class="carousel-screen2 bg-2">
      <%= image_tag("spree/frontend/desktop-home2.jpg", class: "img-home") %>
        <div class="text-container2">
          <p>EXCLUSIVE & RARE DESIGNER VINTAGE</p>
        </div>
      </div>
    </a>
    <div class="carousel-screen2 bg-3">
    <%= image_tag("spree/frontend/desktop-home3.jpg", class: "img-home") %>
      <div class="text-container2">
        <p>AUTHENTICATED & TRUSTED</p>
      </div>
    </div>
    <div class="carousel-screen2 bg-4">
    <%= image_tag("spree/frontend/desktop-home4.jpg", class: "img-home") %>
      <div class="text-container2">
      </div>
    </div>
  </div>
</div>
</div>


<article>
  <%# cache(cache_key_for_products) do %>
    <%#= render 'products/products', products: @products %>
  <%# end %>
</article>
