<% variant = line_item.variant %>

<%= order_form.fields_for :line_items, line_item do |item_form| %>
  <div class="cart--item">
    <div class="cart--item-image edit-cart-img">
      <div class="bag-media cart-img">
        <%= link_to(
          render(ImageComponent.new(
            image: variant.gallery.images.first || variant.product.gallery.images.first,
            size: :small
          )),
          variant.product
        ) %>
      </div>
    </div>
    <div class="cart--item-info">
      <h3 class="cart--item-name">
        <%= link_to variant.product.name, product_path(variant.id) %>
      </h3>
      <div class="cart--item-table">
        <div>Color: </div>
        <div><%= variant.product.property("Color") %></div>
        <div>Size: </div>
        <div><%= variant.product.property("Size") %></div>
        <div>Price: </div>
        <div><%= line_item.display_amount.to_html %></div>
        <div>Quantity: </div>
        <div><%= item_form.text_field :quantity, type: 'number', min: 0 %></div>
      </div>
      <%#= order_form.submit(
        'Remove',
        class: 'cart--item-remove',
        id: "delete_#{dom_id(line_item)}",
        data: { disable_with: 'Remove' }
      ) %>
      <span class="cart--item-remove" id="delete_<%= dom_id(line_item) %>" >
        <%= link_to 'remove', remove_item_path(variant), method: :delete, class: 'delete' %>
      </span>

      

    </div>

   
  </div>
<% end %>
