<%
  base_class = "product-card".freeze

  # Optional props
  classes = local_assigns.fetch(:classes, [])

  # Classes
  class_names = classes.push(base_class).join(" ")

  url = product_path(product, taxon_id: @taxon.try(:id))
  cached = @taxon.present? ?
    [I18n.locale, current_pricing_options, @taxon, product] :
    [I18n.locale, current_pricing_options, product]
  product_id = "product_#{product.id}"
%>

<% cache cached do %>
  <div class="<%= class_names %> product--card" itemscope itemtype="http://schema.org/Product" id=<%= product_id %>>
    <article>
      
      <h3 class="product-card--title">
        <%= link_to truncate(product.name, length: 50), url, class: 'info', itemprop: "name", title: product.name %>
      </h3>
      
      <div class="product-card--image-container">
        <div class="product-media">
          <%= link_to render(ImageComponent.new(image: product.gallery.images.first, size: :small, itemprop: "image", class: "product-image")), url, itemprop: 'url' %>
        </div>
        </div>
      
      <section class="product-card_price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        <% if price = product.price_for_options(current_pricing_options)&.money %>
          <span class="price selling" itemprop="price" content="<%= price.to_d %>">
            <%= price.to_html %>
          </span>
        <% end %>
        <span itemprop="priceCurrency" content="<%= current_pricing_options.currency %>"></span>
      </section>
    </article>
  </div>
<% end %>
