<% @body_id = 'product-details' %>

<% cache [I18n.locale, current_pricing_options, @product] do %>
  <div class="product-page" itemscope itemtype="http://schema.org/Product">   
    <div class="product--gallery">
      <div class="product-page--images">
        <%= render 'product_images_carousel', product: @product %>
      </div>
      <div class="mobile-layout is-active">
        <div class="mobile-product-button">
          <%= render 'cart_line_items/form', product: @product %>
          <% if @product.price_for_options(current_pricing_options)&.money and !@product.price.nil? %>
            <div class="mobile-product-button-price">
              <%= content_tag(
                :span,
                display_price(@product),
                itemprop: 'price',
                content: @product.price_for_options(current_pricing_options)&.money.to_d,
                data: { js: 'price' }
              ) %>

              <%= content_tag(
                :span,
                nil,
                itemprop: 'priceCurrency',
                content: current_pricing_options.currency
              ) %>
            </div>
          <% end %>
        </div>
        <div class="mobile-product-info-button">
          <button class="info-toggle" onclick="infoToggle()">
            <svg fill="#ffffff" height="10px" width="10px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
            viewBox="0 0 330 330" xml:space="preserve">
            <path id="XMLID_224_" d="M325.606,229.393l-150.004-150C172.79,76.58,168.974,75,164.996,75c-3.979,0-7.794,1.581-10.607,4.394
            l-149.996,150c-5.858,5.858-5.858,15.355,0,21.213c5.857,5.857,15.355,5.858,21.213,0l139.39-139.393l139.397,139.393
            C307.322,253.536,311.161,255,315,255c3.839,0,7.678-1.464,10.607-4.394C331.464,244.748,331.464,235.251,325.606,229.393z"/>
            </svg>
            Info
          </button>
        </div>
      </div>
    </div>
    
    <div class="product--info">
      <div class="product--info--header">
        <div class="product--info--header--title">
          <%= render 'product_header', product: @product %>
        </div>
        <div class="product--info--header--button">
          <%= render 'cart_line_items/form', product: @product %>
        </div>
      </div>
      <div class="product--info--description">
        <div class="accordion">
          <button class="accordion--toggle" onclick="accordionToggle(0)">
          <div class="accordion--icon">
            
              <svg fill="#000000" height="6px" width="6px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
              viewBox="0 0 330 330" xml:space="preserve">
              <path id="XMLID_224_" d="M325.606,229.393l-150.004-150C172.79,76.58,168.974,75,164.996,75c-3.979,0-7.794,1.581-10.607,4.394
              l-149.996,150c-5.858,5.858-5.858,15.355,0,21.213c5.857,5.857,15.355,5.858,21.213,0l139.39-139.393l139.397,139.393
              C307.322,253.536,311.161,255,315,255c3.839,0,7.678-1.464,10.607-4.394C331.464,244.748,331.464,235.251,325.606,229.393z"/>
              </svg>
           

          </div>
            Description
          </button>
          <div class="accordion--content is-active" >
            <%= render 'product_info', product: @product %>
            <%#= render 'product_properties', product_properties: @product_properties %>
          </div>
        </div>
        <div class="accordion">
          <button class="accordion--toggle" onclick="accordionToggle(1)">
            <div class="accordion--icon">
                <svg fill="#000000" height="6px" width="6px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                viewBox="0 0 330 330" xml:space="preserve">
                <path id="XMLID_224_" d="M325.606,229.393l-150.004-150C172.79,76.58,168.974,75,164.996,75c-3.979,0-7.794,1.581-10.607,4.394
                l-149.996,150c-5.858,5.858-5.858,15.355,0,21.213c5.857,5.857,15.355,5.858,21.213,0l139.39-139.393l139.397,139.393
                C307.322,253.536,311.161,255,315,255c3.839,0,7.678-1.464,10.607-4.394C331.464,244.748,331.464,235.251,325.606,229.393z"/>
                </svg>
            </div>
              Delivery & Returns
            </button>
          <div class="accordion--content">
          Why do we use it?
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
            
            
            Where does it come from?
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
            
            The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
            
            Where can I get some?
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem 
          </div>
        </div>
        <div class="accordion">
          <button class="accordion--toggle" onclick="accordionToggle(2)">
            <div class="accordion--icon">
             
                <svg fill="#000000" height="6px" width="6px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                viewBox="0 0 330 330" xml:space="preserve">
                <path id="XMLID_224_" d="M325.606,229.393l-150.004-150C172.79,76.58,168.974,75,164.996,75c-3.979,0-7.794,1.581-10.607,4.394
                l-149.996,150c-5.858,5.858-5.858,15.355,0,21.213c5.857,5.857,15.355,5.858,21.213,0l139.39-139.393l139.397,139.393
                C307.322,253.536,311.161,255,315,255c3.839,0,7.678-1.464,10.607-4.394C331.464,244.748,331.464,235.251,325.606,229.393z"/>
                </svg>
             
            </div>
            Care Guide
            </button>
          <div class="accordion--content"></div>
        </div>

        <div class="accordion">
          <button class="accordion--toggle" onclick="accordionToggle(3)">
            <div class="accordion--icon">
             
                <svg fill="#000000" height="6px" width="6px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                viewBox="0 0 330 330" xml:space="preserve">
                <path id="XMLID_224_" d="M325.606,229.393l-150.004-150C172.79,76.58,168.974,75,164.996,75c-3.979,0-7.794,1.581-10.607,4.394
                l-149.996,150c-5.858,5.858-5.858,15.355,0,21.213c5.857,5.857,15.355,5.858,21.213,0l139.39-139.393l139.397,139.393
                C307.322,253.536,311.161,255,315,255c3.839,0,7.678-1.464,10.607-4.394C331.464,244.748,331.464,235.251,325.606,229.393z"/>
                </svg>
            
            </div>
              Size Assistance
            </button>
          <div class="accordion--content"></div>
        </div>
        
        <%#= render 'product_taxons', product: @product %>
      </div>
      
      <%= render 'product_promotions', product: @product %>
    </div>
    <div class="mobile--product--info">
      
      <div class="product--info--header">
        <div class="info--close" onclick="infoToggle()">
          &#x2715;
        </div>
        <div class="product--info--header--title">
          <%= render 'product_header', product: @product %>
        </div>
        <div class="product--info--header--button">
          <%= render 'cart_line_items/form', product: @product %>
        </div>
      </div>
      <div class="product--info--description">
        <div class="accordion">
          <button class="accordion--toggle" onclick="mobileAccordionToggle(0)">
          <div class="mobile--accordion--icon">
           
              <svg fill="#000000" height="6px" width="6px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
              viewBox="0 0 330 330" xml:space="preserve">
              <path id="XMLID_224_" d="M325.606,229.393l-150.004-150C172.79,76.58,168.974,75,164.996,75c-3.979,0-7.794,1.581-10.607,4.394
              l-149.996,150c-5.858,5.858-5.858,15.355,0,21.213c5.857,5.857,15.355,5.858,21.213,0l139.39-139.393l139.397,139.393
              C307.322,253.536,311.161,255,315,255c3.839,0,7.678-1.464,10.607-4.394C331.464,244.748,331.464,235.251,325.606,229.393z"/>
              </svg>
           

          </div>
            Description
          </button>
          <div class="mobile--accordion--content is-active" >
            <%= render 'product_info', product: @product %>
            <%#= render 'product_properties', product_properties: @product_properties %>
          </div>
        </div>
        <div class="accordion">
          <button class="accordion--toggle" onclick="mobileAccordionToggle(1)">
            <div class="mobile--accordion--icon">
              
                <svg fill="#000000" height="6px" width="6px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                viewBox="0 0 330 330" xml:space="preserve">
                <path id="XMLID_224_" d="M325.606,229.393l-150.004-150C172.79,76.58,168.974,75,164.996,75c-3.979,0-7.794,1.581-10.607,4.394
                l-149.996,150c-5.858,5.858-5.858,15.355,0,21.213c5.857,5.857,15.355,5.858,21.213,0l139.39-139.393l139.397,139.393
                C307.322,253.536,311.161,255,315,255c3.839,0,7.678-1.464,10.607-4.394C331.464,244.748,331.464,235.251,325.606,229.393z"/>
                </svg>
              
            </div>
              Delivery & Returns
            </button>
          <div class="mobile--accordion--content">
          Why do we use it?
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
            
            
            Where does it come from?
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
            
            The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
            
            Where can I get some?
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem 
          </div>
        </div>
        <div class="accordion">
          <button class="accordion--toggle" onclick="mobileAccordionToggle(2)">
            <div class="mobile--accordion--icon">
              
                <svg fill="#000000" height="6px" width="6px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                viewBox="0 0 330 330" xml:space="preserve">
                <path id="XMLID_224_" d="M325.606,229.393l-150.004-150C172.79,76.58,168.974,75,164.996,75c-3.979,0-7.794,1.581-10.607,4.394
                l-149.996,150c-5.858,5.858-5.858,15.355,0,21.213c5.857,5.857,15.355,5.858,21.213,0l139.39-139.393l139.397,139.393
                C307.322,253.536,311.161,255,315,255c3.839,0,7.678-1.464,10.607-4.394C331.464,244.748,331.464,235.251,325.606,229.393z"/>
                </svg>
             
            </div>
            Care Guide
            </button>
          <div class="mobile--accordion--content"></div>
        </div>

        <div class="accordion">
          <button class="accordion--toggle" onclick="mobileAccordionToggle(3)">
            <div class="mobile--accordion--icon">
              
                <svg fill="#000000" height="6px" width="6px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                viewBox="0 0 330 330" xml:space="preserve">
                <path id="XMLID_224_" d="M325.606,229.393l-150.004-150C172.79,76.58,168.974,75,164.996,75c-3.979,0-7.794,1.581-10.607,4.394
                l-149.996,150c-5.858,5.858-5.858,15.355,0,21.213c5.857,5.857,15.355,5.858,21.213,0l139.39-139.393l139.397,139.393
                C307.322,253.536,311.161,255,315,255c3.839,0,7.678-1.464,10.607-4.394C331.464,244.748,331.464,235.251,325.606,229.393z"/>
                </svg>
             
            </div>
              Size Assistance
            </button>
          <div class="mobile--accordion--content"></div>
        </div>
        
        <%#= render 'product_taxons', product: @product %>
      </div>
      
      <%= render 'product_promotions', product: @product %>

    </div>
  </div>
<% end %>
