<% javascript_include_tag 'spree/frontend/homepage/sidebar' %>
<div class="sidebar-nav">
  <div class="sidebar--search-desktop" style="opacity: 1;">
    <div class="search-field">
      <%= render 'shared/search/search_bar', taxons: taxons, taxon: taxon %>
    </div>
  </div>
  <ul class="sidebar--desktop" style="opacity: 1;">
    <li class="nav-item-sidebar sidebar-shop">
      <span class="sidebar--title" onclick="toggleDesktop(0)">Shop</span>
      <div class="sidebar--items sidebar-items-shop">
        <ul class="sidebar-shop-left">
          <li class="sidebar-shop-all-item">
            <%= link_to 'New Arrivals', products_path %>
          </li>
          <li class="sidebar-shop-all-item">
            <%= link_to 'Coveted Pieces', products_path %>
          </li>
        </ul>
        <div class="sidebar--categories">
          <ul>
            <li class="sidebar-shop-all-item">
              <%= link_to 'All Products', products_path %>
            </li>
            <li class="sidebar-shop-all-item">
              <%= link_to 'Coats', products_path %>
            </li>
            <li class="sidebar-shop-all-item">
              <%= link_to 'Jackets', products_path %>
            </li>
            <li class="sidebar-shop-all-item">
              <%= link_to 'Dresses', products_path %>
            </li>
            <li class="sidebar-shop-all-item">
              <%= link_to 'Tops', products_path %>
            </li>
            <li class="sidebar-shop-all-item">
              <%= link_to 'Pants', products_path %>
            </li>
          </ul>
          <ul>
            <li class="sidebar-shop-all-item">
              <%= link_to 'Skirts', products_path %>
            </li>
            <li class="sidebar-shop-all-item">
              <%= link_to 'Watches', products_path %>
            </li>
            <li class="sidebar-shop-all-item">
              <%= link_to 'Bags', products_path %>
            </li>
            <li class="sidebar-shop-all-item">
              <%= link_to 'Shoes', products_path %>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li class="nav-item-sidebar sidebar-obsessions">
      <a class="sidebar--title">Obsessions</a>
    </li>
    <li class="nav-item-sidebar sidebar-brand">
      <span class="sidebar--title" onclick="toggleDesktop(1)">Brand</span>
      <div class="sidebar--items sidebar-items-brand">
        <ul class="sidebar-brand-all">
          <li class="sidebar-brand-all-item">
            <a href="#">About Permanence</a>
          </li>
          <li class="sidebar-brand-all-item">
            <a href="#">Code of conduct</a>
          </li>
          <li class="sidebar-brand-all-item">
            <a href="#">Press</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item-sidebar sidebar-customer-service">
      <span class="sidebar--title" onclick="toggleDesktop(2)">Customer service</span>
      <div class="sidebar--items sidebar-items-cust">
        <ul class="sidebar-customer-service-all">
          <li class="sidebar-customer-service-all-item">
            <a href="#">Frequently Asked Questions</a>
          </li>
          <li class="sidebar-customer-service-all-item">
            <a href="#">Shipping Information</a>
          </li>
          <li class="sidebar-customer-service-all-item">
            <a href="#">Terms & Conditions</a>
          </li>
          <li class="sidebar-customer-service-all-item">
            <a href="#">Newsletter</a>
          </li>
          <li class="sidebar-customer-service-all-item">
            <a href="#">Privacy Policy</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
  <div class="sidebar--mobile">
    <div class="sidebar--options">
      <div class="sidebar--mobile-search">
        <%= render 'shared/search/search_bar', taxons: taxons, taxon: taxon %>
      </div>
      <div class="sidebar--mobile-additional">
        <div class="sidebar--mobile-favorites">
          <ul class="sidebar--mobile-favorites-list">
            <li class="sidebar--mobile-favorites-item">Favourites</li>
          </ul>
        </div>
        <div class="sidebar--mobile-currency">
          <ul class="sidebar--mobile-currency-list">
            <li class="sidebar--mobile-currency-item is-active">GBP</li>
            <li class="sidebar--mobile-currency-item">USD</li>
            <li class="sidebar--mobile-currency-item">EUR</li>
            <li class="sidebar--mobile-currency-item">EGP</li>
          </ul>
        </div>
      </div>
    </div>
    <ul class="sliding-navbar">
      <li class="sidebar--mobile-title" onclick="toggleMenu(0);">Shop</li>
      <li class="sidebar--mobile-title" style="margin-left: 101px;" onclick="toggleMenu(1);">
        <a href="#">Obsessions</a>
      </li>
      <li class="sidebar--mobile-title" style="margin-left: 101px;" onclick="toggleMenu(2);">Brand</li>
      <li class="sidebar--mobile-title" style="margin-left: 101px;" onclick="toggleMenu(3);">Customer service</li>
    </ul>
    <div class="sidebar--mobile-items">
      <ul class="sidebar--mobile-submenu is-active">
        <li class="sidebar-shop-all-item-mobile">
          <%= link_to 'New Arrivals', products_path %>
        </li>
        <li class="sidebar-shop-all-item-mobile">
          <%= link_to 'Coveted Pieces', products_path %>
        </li>
        <li></li>
        <li class="sidebar-shop-all-item-mobile">
          <%= link_to 'All Products', products_path %>
        </li>
        <li class="sidebar-shop-all-item-mobile">
          <%= link_to 'Coats', products_path %>
        </li>
        <li class="sidebar-shop-all-item-mobile">
          <%= link_to 'Jackets', products_path %>
        </li>
        <li class="sidebar-shop-all-item-mobile">
          <%= link_to 'Dresses', products_path %>
        </li>
        <li class="sidebar-shop-all-item-mobile">
          <%= link_to 'Tops', products_path %>
        </li>
        <li class="sidebar-shop-all-item-mobile">
          <%= link_to 'Pants', products_path %>
        </li>
        <li class="sidebar-shop-all-item-mobile">
          <%= link_to 'Skirts', products_path %>
        </li>
        <li class="sidebar-shop-all-item-mobile">
          <%= link_to 'Watches', products_path %>
        </li>
        <li class="sidebar-shop-all-item-mobile">
          <%= link_to 'Bags', products_path %>
        </li>
        <li class="sidebar-shop-all-item-mobile">
          <%= link_to 'Shoes', products_path %>
        </li>
      </ul>
      <ul class="sidebar--mobile-submenu"></ul>
      <ul class="sidebar--mobile-submenu">
        <li class="sidebar-shop-all-item-mobile">
          <a href="#">About Permanence</a>
        </li>
        <li class="sidebar-shop-all-item-mobile">
          <a href="#">Code of conduct</a>
        </li>
        <li class="sidebar-shop-all-item-mobile">
          <a href="#">Press</a>
        </li>
      </ul>
      <ul class="sidebar--mobile-submenu">
        <li class="sidebar-shop-all-item-mobile">
          <a href="#">Frequently Asked Questions</a>
        </li>
        <li class="sidebar-shop-all-item-mobile">
          <a href="#">Shipping Information</a>
        </li>
        <li class="sidebar-shop-all-item-mobile">
          <a href="#">Terms & Conditions</a>
        </li>
        <li class="sidebar-shop-all-item-mobile">
          <a href="#">Newsletter</a>
        </li>
        <li class="sidebar-shop-all-item-mobile">
          <a href="#">Privacy Policy</a>
        </li>
      </ul>
    </div>
  </div>
</div>