<!doctype html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <title>Permanence Store</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%== meta_data_tags %>
    <%= canonical_tag(current_store.url) %>
    <%= csrf_meta_tags %>

    <%#= javascript_include_tag 'solidus_starter_frontend' %>
    <%#= stylesheet_link_tag 'solidus_starter_frontend', media: 'screen' %>
    <%= stylesheet_link_tag 'spree/frontend/all.css' %>
    <%= javascript_include_tag 'spree/frontend/all.js' %>
    <%#= javascript_include_tag 'homepage/topbar.js' %>

    <%= favicon_link_tag 'favicon.ico' %>

    <%= yield :head %>
  </head>
  <body>
    <div class="root">
      <div class="header" style="opacity: 1;">
        <%= render 'layouts/top_bar' %>
      </div>
    <div class="storefront-container">
      
      <div class="sidebar-container">
        <%= render 'layouts/sidebar', taxons: @taxons, taxon: @taxon %>
      </div>
      <div class="storefront-content">
        <%#= render 'home/hero2' %>  
        <%= yield %>
      </div>
      <div class="bag-container">
        <%= render 'layouts/side_cart'%>
        <div class="backdrop"></div>
      </div>
      <script 
        <div class="category-navigation">
          <div class="categories">
            <nav class="categories
          </div>
        </div>
        <%#= flash_messages %>
        <%#= render BreadcrumbsComponent.new(@taxon) %>
        <main>
          <%#= yield %>
          
        </main>
        <%#= yield :templates %>
      </div>
      


    </div>
  </div>
  </body>
  <%= render 'layouts/footer' %>




  <body class="<%#= body_class %>" id="<%#= @body_id || 'default' %>">
    
    
  </body>
  
</html>
