<%= javascript_include_tag 'spree/frontend/checkout/payment_method.js' %>
<div class="payment-step">
  <div class="section__header">
    <h2 class="proposed-shipment__secondary-title">
      <%= t("Payment") %>
    </h2>
  </div>


  <div class="section__content">
    <%= render 'checkouts/steps/payment_step/payment_method_selector', methods: @order.available_payment_methods %>
    <%= render 'checkouts/steps/payment_step/payment_method_controls', methods: @order.available_payment_methods %>

    <% if @wallet_payment_sources.present? %>
      <%= render 'checkouts/steps/payment_step/existing_cards', wallet_payment_sources: @wallet_payment_sources %>
    <% end %>
  
    <div class="delivery-step__actions">
      <%= button_tag(
        I18n.t("spree.save_and_continue"),
        class: 'btn delivery-btn',
        name: :commit
      ) %>
      <%= link_to "Return to shipping", checkout_state_path(:delivery), class: "step__footer__previous" %>
    </div>

    <div class="terms_and_conditions">
    <%= render 'checkouts/terms_and_conditions' %>
    <%= check_box_tag :accept_terms_and_conditions, 'accepted', false %>
    <%= label_tag :accept_terms_and_conditions, t('spree.agree_to_terms_of_service') %>
  </div>

  <%= button_tag(
    I18n.t('spree.place_order'),
    class: 'button-primary',
    name: :commit,
  ) %>
    
  </div>
</div>

<script>
  Solidus.disableSaveOnClick();
</script>
