<%= javascript_include_tag 'spree/frontend/checkout/payment_method.js' %>
<div class="payment-step">
  <div class="section__header">
    <h2 class="proposed-shipment__secondary-title">
      <%= t("Payment") %>
    </h2>
  </div>


  <div class="section__content">
    <%= render 'checkouts/steps/payment_step/payment_method_selector', methods: @order.available_payment_methods %>
    <%= render 'checkouts/steps/payment_step/payment_method_controls', methods: @order.available_payment_methods %>

    <% if @wallet_payment_sources.present? %>
      <%= render 'checkouts/steps/payment_step/existing_cards', wallet_payment_sources: @wallet_payment_sources %>
    <% end %>
  

    <%= button_tag(
      I18n.t("spree.save_and_continue"),
      class: 'button-primary',
      name: :commit
    ) %>
  </div>
</div>

<script>
  Solidus.disableSaveOnClick();
</script>
